<div class="splash-page d-flex">
  <div class="home-header-categories header">
    <h1>MaBills Tracker</h1>
  </div>
  <div class="user-icon d-flex flex-center">
    <%= image_tag "https://nmgprod.s3.amazonaws.com/media/files/f2/3c/f23ce94d9a27ef3c1501157877ace60c/cover_image_1621366976.jpg.760x400_q85_crop_upscale.jpg", height: 100, width: 100 %>
  </div>
  <div class="buttons">
    <%= button_to "Login", new_user_session_path, :method => :get, class:"splash-btns" %>
    <%= button_to "Sign up", new_user_registration_path, :method => :get, class:"splash-btns splash-signup" %>
  </div>
</div>