<p style="color: green"><%= notice %></p>

<h1>My Transactions</h1>

<div id="records">
  <% @entities.each do |entity| %>
    <%= render entity %>
    <%= link_to "View", entity%>
  <% end %>
</div>

<%= link_to "+ Add Transaction", new_entity_path %>